<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/sale.css">
<body>
          <main>
                    <button class="logout">
                              <a href="/">Logout</a>
                         </button>
                         <br>
                    <form action="/auth/createAccount" method="POST">
                         <div>
                         <select class="selectpicker" data-style="btn-info" name="empType">
                                   
                                       <option value="">Select</option>
                                       <% rows.forEach(function(row){ %>
                                       <option value="<%= row %>"><%= row%></option>
                                       <% }) %>   
                               </select>
                               <div>
                                   <label for="name">User Name:</label>
                                   <input type="text" name="name">
                                        </div>
                                   <div class="form-control">
                                   <label for="password">Password:</label>
                                   <input type="password" name="password">
                                   </div>
                    </div>
                    <button class="btn" type="submit">Submit</button>
                    </form>
               </main>

<%- include('../includes/end.ejs') %>