<%- include('../includes/head.ejs') %>

<body>
     <a href="admin/entry-product">Entry-New-Product</a>
     <br>
     <a href="admin/edit-product">Update-Product</a>
     <br>
     <a href="admin/delete-product">Delete-Product</a>

<%- include('../includes/end.ejs') %>