<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css" type="text/css">

<body>
      <div class="centered">
            <a href="admin/admin-login" class=" btn">Login as Admin</a>
            <hr>
            <a href="shopper/shopper-login" class="btn">Login as Shopper</a>
            <hr>
            <a href="auth/auth-login" class="btn">Login as Author</a>
      </div>
      </div>

<%- include('./includes/end.ejs') %>